@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");

html,
body {
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #333333;
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
dl,
body,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
blockquote,
address,
table,
thead,
tbody,
tfoot,
tr,
td,
caption {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

header {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 56px;
  font-weight: 500;
}

/* 기본 헤더 */
.mainheader {
  position: fixed;
  display: flex;
  width: 100%;
  height: 56px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1000;
  transition: transform 0.2s, visibility 0.2s, opacity 0.2s ease-in-out;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
}

.scrolled .logobox a img {
  filter: brightness(0) invert(0); /* 검정색 */
}

.scrolled .menubox > li > button > span {
  color: black;
}

.scrolled .utilnav > li > a > img {
  filter: brightness(0) invert(0); /* 검정색 */
}

/* 로고 */
.logobox {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 32px;
  background-color: transparent;
}

.logobox a {
  display: flex;
  align-items: center;
  width: 104px;
  height: 24px;
  padding: 0 16px;
  font-size: 0px;
}

.logobox a > img {
  width: 120px;
  height: 24px;
  filter: brightness(0) invert(1); /* 흰색으로 기본 설정 */
}

/* 메뉴박스 */
.menubox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.menubox > li {
  display: flex;
  height: 100%;
  align-items: center;
}

.menubox > li > button {
  border: 1px solid transparent;
  background-color: transparent;
  height: 32px;
  width: 100%;
  padding: 4px 16px;
  font: bold 14px "Inter", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.menubox > li > button > span {
  color: white; /* 기본적으로 흰색 */
  border: none;
  text-decoration: none;
}

/* 유틸 박스 */
.utilbox {
  height: 100%;
  padding-right: 32px;
  justify-content: center;
}

.utilnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-right: 32px;
}

.utilnav > li {
  font-size: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.utilnav > li > a > img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1); /* 흰색 기본 설정 */
}

.utilnav > .user {
  margin-right: 16px;
}

/* whitebox 관련 */
.whitebox {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: white;
  transition: top 0.3s ease-in-out, height 0.3s ease-in-out;
  z-index: 1;
  opacity: 1;
}

.whitebox.mobile {
  display: none;
}

/* whitebox 내려올 때 */
.whitebox.open {
  top: 0;
  opacity: 1;
}

.logobox,
.menubox,
.utilbox,
.openmenu {
  z-index: 100;
}

/* 서브메뉴 */
.submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  padding: 0 28px 48px;
  background-color: white;
  transition: opacity 0.5s ease, height 0.5s ease;
  z-index: 15;
}

/* 서브메뉴 보일 때 */
.submenu.show {
  visibility: visible;
  opacity: 1;
}

/* 서브메뉴 li 항목 애니메이션 */
.submenu ul li {
  opacity: 0;
  transform: translateY(10px); /* 약간 아래에서 시작 */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* 서브메뉴 애니메이션 활성화 */
.submenu ul li.fade-in {
  opacity: 1;
  transform: translateY(0); /* 원래 위치로 */
}

/* Vehicles 메뉴 스타일 */
/* 그리드 레이아웃 */
.vehicleslistbox {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 64px 0 16px; /* 상단 64px, 하단 16px, 좌우 48px 여백 적용 */
  max-width: 1799px;
  max-height: 368px;
  box-sizing: border-box;
  margin: 0 auto; /* 수평 중앙 정렬 */
}

.vehiclesproductlist {
  grid-column: 2 / span 7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  align-items: center;
  justify-content: center;
}

/* vehiclesproductlist 내부 항목 스타일 */
.vehiclesproductlist li {
  display: flex;
  max-width: 220px;
  max-height: 175px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vehiclesproductlist li a img {
  width: 100%;
  height: auto;
}

.vehiclesproductlist .cartextbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vehiclesproductlist .cartextbox p {
  font-size: 17px;
  font-weight: 700;
  color: black;
}

.vehiclesproductlist .abox,
.vehiclesproductlist .cybertruckabox {
  display: flex;
  gap: 16px;
  justify-content: center;
  bottom: 0;
}

.vehiclesproductlist .abox a,
.vehiclesproductlist .cybertruckabox a {
  font-size: 14px;
  color: #5c5d61;
  text-decoration: underline;
}

/* Charging 메뉴 스타일 */

.charginglistbox {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 64px 0 16px;
  max-width: 1799px;
  /* width: 100%; */
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto; /* 수평 중앙 정렬 */
}

.chargingproductlist {
  display: grid;
  grid-column: 3 / span 5;
  grid-template-columns: repeat(3, 1fr);
  height: 175px;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.chargingproductlist li {
  display: flex;
  max-width: 220px;
  max-height: 175px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chargingproductlist li a img {
  width: 100%; /* 이미지 너비를 100%로 설정 */
  height: auto;
}

.chargingproductlist .cartextbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chargingproductlist .cartextbox p {
  font-size: 17px;
  font-weight: 700;
  color: black;
}

.chargingproductlist .abox,
.chargingproductlist .cybertruckabox {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.chargingproductlist .abox a,
.chargingproductlist .cybertruckabox a {
  font-size: 14px;
  color: #5c5d61;
  text-decoration: underline;
}

/* chargingproductlist 내부 항목 스타일 */

.charging-vertical-line {
  grid-column: 8 / span 1;
  border-left: 1px solid #e0e0e0;
  max-height: 175px;
  justify-self: center;
}

.charging-info-box {
  grid-column: 9 / span 2;
  padding: 16px;
  max-height: 175px;
  background-color: white;
}

/* 살펴보기 메뉴 스타일*/

.discoverlistbox {
  display: grid;
  max-width: 1799px;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center; /* 수평 중앙 정렬 */
  padding: 64px 48px 16px;
  margin: 0 auto; /* 수평 중앙 정렬 */
}

.customerresources,
.locationservices,
.companyinfo {
  text-align: left; /* 텍스트 중앙 정렬 */
  padding: 0 12px 14px;
}

.customerresources {
  grid-column: 4 / span 1;
}

.locationservices {
  grid-column: 6 / span 1;
}

.companyinfo {
  grid-column: 8 / span 1;
}

.customerresources li,
.locationservices li,
.companyinfo li {
  list-style: none;
  margin-bottom: 12px;
}

/* 각 섹션의 제목 스타일 */
.customerresources #sub_title,
.locationservices #sub_title,
.companyinfo #sub_title {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 16px;
}

.customerresources #sub_text,
.locationservices #sub_text,
.companyinfo #sub_text {
  color: black; /* 텍스트 색상 */
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  position: relative; /* ::after를 사용하기 위해 position을 설정 */
}

.customerresources #sub_text::after,
.locationservices #sub_text::after,
.companyinfo #sub_text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* 텍스트 아래에 라인을 위치 */
  opacity: 0;
  width: 100%;
  height: 2px; /* 선의 두께 */
  background-color: black; /* 언더라인 색상 */
  transition: opacity 0.8s ease; /* 애니메이션 속도 */
}

.customerresources #sub_text:hover::after,
.locationservices #sub_text:hover::after,
.companyinfo #sub_text:hover::after {
  opacity: 1; /* 호버 시 라인이 나타남 */
}

/* Shop 메뉴 */
.shoplistbox {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 64px 0 16px; /* 상단 64px, 하단 16px, 좌우 48px 여백 적용 */
  max-width: 1799px;
  max-height: 368px;
  box-sizing: border-box;
  margin: 0 auto; /* 수평 중앙 정렬 */
}

.shopproductlist {
  grid-column: 3 / span 8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.shopproductlist li {
  display: flex;
  max-width: 220px;
  max-height: 175px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shopproductlist li a {
  font-size: 0;
  text-decoration: none;
}

.shopproductlist li a img {
  width: 100%; /* 이미지 너비를 100%로 설정 */
  height: auto;
}

.shopproductlist .cartextbox {
  margin-top: 16px;
  text-align: center;
}

.shopproductlist .cartextbox p {
  font-size: 17px;
  font-weight: 500;
  color: black;
}

/* info-box 스타일 */
.info-box {
  grid-column: 10 / span 2;
  padding: 8px 12px;
  height: 50%;
  background-color: white;
}

.info-list > li > a {
  display: inline-block;
  position: relative;
  font: 14px "Inter", sans-serif;
  font-weight: 600;
  margin-bottom: 14px;
  color: #333;
  text-decoration: none;
}

.info-list > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px; /* 원하는 선 두께 설정 */
  background-color: black;
  opacity: 0;
  transition: opacity 0.7s ease; /* 1초 동안 부드럽게 나타나도록 설정 */
}

.info-list > li > a:hover::after {
  opacity: 1;
}

/* 세로선 스타일 */
.vehicles-vertical-line {
  grid-column: 9 / span 1;
  border-left: 1px solid #e0e0e0;
  height: 100%;
  justify-self: center;
}

.openmenu {
  display: none;
}

.mobilemenu {
  display: none;
}

@media screen and (max-width: 1439px) {
  .vehiclesproductlist {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .charginglistbox {
    max-width: 1439px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    column-gap: 16px;
    justify-items: center;
    align-items: start;
    padding: 64px 0 16px;
  }

  .chargingproductlist {
    grid-column: 2 / span 7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .chargingproductlist li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .charging-vertical-line {
    grid-column: 9 / span 1;
    border-left: 1px solid #e0e0e0;
    height: 100%;
    justify-self: center;
  }

  .charging-info-box {
    grid-column: 10 / span 2;
    padding: 16px;
    background-color: #f9f9f9;
  }
}

/* 모바일 메뉴 */

@media screen and (max-width: 1199px) {
  .menubox {
    display: none;
  }

  .utilbox {
    display: none;
  }

  .openmenu {
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 70px;
    height: 32px;
    background-color: transparent;
    border-style: none;
    border-radius: 4px;
  }

  .openmenu > span {
    color: white;
    font-size: 14px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
  }

  /* 스크롤 시 메뉴 버튼 색상을 검은색으로 변경 */
  .scrolled .openmenu > span {
    color: black;
  }

  .mobilemenu {
    display: none;
  }

  .mobilemenu.open {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh; /* 브라우저 높이만큼 메뉴의 높이 설정 */
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    overflow: hidden; /* 세로 스크롤을 없앰 */
  }

  .closemenu {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0;
    z-index: 2000;
  }

  /* 모바일 메뉴 항목 레이아웃 */
  .mobilemenubox {
    list-style: none;
    padding: 0;
    margin: 80px 0 0 0;
    width: 100%;
  }

  .mobilemenubox > li {
    padding: 20px;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    display: flex;
    justify-content: flex-start;
  }

  .mobilemenubox > li button {
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }

  .mobilemenubox li button span {
    font: 17px "Inter", sans-serif;
    font-weight: 600;
  }

  .mobilemenubox li a {
    display: flex;
    align-items: center;
    font: 17px "Inter", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
  }

  .mobilemenubox li img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

  /* 모바일 메뉴 하단 네비게이션 스타일 */
  .help,
  .global,
  .user {
    display: flex; /* Flexbox를 적용하여 이미지와 텍스트를 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    padding: 16px 0;
    font-family: "Inter", sans-serif;
  }

  .help img,
  .global img,
  .user img {
    width: 24px;
    height: 24px;
    margin-right: 8px; /* 이미지와 텍스트 사이에 여백 */
  }

  .help a,
  .global a,
  .user a {
    font-size: 18px;
    font-weight: 500;
    color: black;
    display: flex;
    flex-direction: row; /* 이미지와 텍스트를 가로로 배치 */
    align-items: center; /* 가로 중앙 정렬 */
    text-decoration: none;
  }

  .global a span {
    font-size: 17px;
    font-weight: 600;
  }

  .global a p {
    font-size: 14px;
    color: #7d7d7d; /* 하위 텍스트의 색상을 더 연하게 설정 */
    font-weight: 600;
  }

  /* 모바일 메뉴 > 서브메뉴 */
  .mobilemenubox > li > .mobile {
    display: none;
  }

  .mobilesubheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    padding: 16px;
    background-color: #fff;
    position: relative;
  }

  .mobilesubheader .back-button {
    position: absolute;
    align-items: center;
    width: 32px; /* 너비 조정 */
    height: 32px; /* 높이 조정 */
    background: none;
    border: none;
    font-size: 0px;
    cursor: pointer;
    color: #333;
    position: absolute;
    left: 16px; /* 왼쪽에 배치 */
  }

  .mobilesubheader .back-button img {
    width: 16px; /* 너비 조정 */
    height: 16px; /* 높이 조정 */
  }

  .mobilesubheader h2 {
    font-weight: 900 !important;
    font: 14px "Inter", sans-serif;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* 중앙 정렬 */
    color: black;
  }

  .closemenu {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0;
    z-index: 2000;
  }

  .mobilemenubox > li > .vehiclessub.show {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobilemenubox > li > .chargingsub.show {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobilemenubox > li > .discoversub.show {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  /* 인포 공통 사용 */

  #mobileinfobox {
    display: flex;
    padding: 0;
    width: 100%;
  }
  #mobileinfolist {
    display: flex !important;
    flex-direction: column;
    padding: 32px 0 0 !important;
  }

  #mobileinfolist > li {
    padding: 0 0 16px;
    margin: 0;
  }

  #mobileinfolist > li a {
    height: 24px;
    padding: 16px 6px 16px 0 !important;
  }

  #mobileinfolist > li a span {
    font: 17px "Inter", sans-serif;
    font-weight: 600;
  }

  /* 모바일 메뉴 > 차량 서브메뉴  */

  .mobilemenu.open .vehiclessub.show {
    align-items: center;
    height: 100%;
  }

  .vehiclessub {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
  }

  .vehiclessub > .vehicleslistbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 28px;
  }

  .mobilevehiclesproductlist {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    border-bottom: 1px solid #e0e0e0;
  }
}

.mobilevehiclesproductlist > li {
  display: flex;
  max-width: 220px;
  max-height: 175px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .mobilevehiclesproductlist {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
  }
}

@media screen and (max-width: 600px) {
  .mobilevehiclesproductlist {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .mobilevehiclesproductlist {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 514px; /* 최대 높이 제한 */
    gap: 16px;
    padding: 32px 0 24px;
  }

  .mobilevehiclesproductlist li {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    height: 84px; /* li의 높이를 적절히 조정 */
    padding: 0;
  }
  /* #carimg와 cartextbox가 gap 없이 가로 배치되도록 설정 */
  .mobilevehiclesproductlist li #carimg {
    width: 50%; /* 이미지 너비를 지정 */
    height: auto; /* 부모 크기에 맞추기 */
  }

  .mobilevehiclesproductlist li #carimg img {
    max-width: 160px; /* 이미지 사이즈 조정 */
    max-height: 90px;
  }

  .mobilevehiclesproductlist li .cartextbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    font-size: 12px; /* 텍스트 크기 축소 */
    width: 50%; /* 이미지 너비를 지정 */
    text-align: left; /* 텍스트 좌측 정렬 */
    align-items: flex-start; /* 텍스트 좌측 정렬을 위한 flex 속성 추가 */
  }

  .cartextbox p {
    font-size: 17px; /* 텍스트 크기 줄임 */
    color: black;
    text-align: left; /* 설명 텍스트 좌측 정렬 */
  }

  .cartextbox .abox {
    font-size: 12px; /* 차량 이름 및 버튼 크기 줄임 */
    color: #333;
    text-decoration: none;
    justify-content: flex-start !important;
    text-align: left; /* 링크 텍스트 좌측 정렬 */
  }

  .cybertruckabox {
    font-size: 12px; /* 차량 이름 및 버튼 크기 줄임 */
    color: #333;
    text-decoration: none;
    justify-content: flex-start !important;
  }

  /* 스크롤바 숨기기 */
  .mobilevehiclesproductlist::-webkit-scrollbar {
    display: none; /* 스크롤바 숨김 */
  }
}

/* 스크롤바 숨기기 */
.mobilevehiclesproductlist::-webkit-scrollbar {
  display: none;
}

.mobilevehiclesproductlist li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobilevehiclesproductlist li a img {
  width: 100%; /* 이미지 사이즈 조정 */
  height: auto;
}

.mobilevehiclesproductlist .cartextbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* 텍스트 박스 공통 사용 */
.abox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.cybertruckabox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.abox > a {
  color: #7d7d7d !important;
  text-decoration: underline !important;
}

.cybertruckabox > a {
  color: #7d7d7d !important;
  text-decoration: underline !important;
}

.mobilevehiclesproductlist li a {
  margin-top: 8px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

.mobilevehiclesproductlist li a:hover {
  text-decoration: underline;
}

.mobilevehiclesproductlist li a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.mobilevehiclesproductlist li p a:hover {
  text-decoration: underline;
}

.mobilevehiclesproductlist > .info-box {
  list-style: none;
  padding-top: 16px;
  margin: 0;
}

/* 모바일 메뉴 > 충전 서브메뉴  */
.mobilemenu.open .chargingssub.show {
  align-items: center;
  justify-content: space-between;
}

.chargingsub {
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
}

.mobilechargingproductlist {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  border-bottom: 1px solid #e0e0e0;
}

@media screen and (max-width: 900px) {
  .mobilechargingproductlist {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .mobilecharginglistbox {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 0 28px;
  }

  .mobilechargingproductlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 두 개의 열을 50%씩 배치 */
    grid-template-rows: repeat(2, auto); /* 두 개의 줄을 자동 높이로 설정 */
    max-height: 367px; /* 최대 높이 설정 */
    gap: 16px; /* 항목 간 수직, 수평 간격 설정 */
    padding: 32px 0 24px; /* 위아래 여백 설정 */
  }

  .mobilechargingproductlist li {
    display: flex;
    flex-direction: row; /* 이미지와 텍스트를 가로로 배치 */
    height: 175.78px; /* li의 높이를 적절히 조정 */
    padding: 0;
  }

  .mobilechargingproductlist li img {
    width: 100%; /* 이미지의 너비를 50%로 설정 */
    height: auto; /* 부모 크기에 맞추기 */
    max-width: 220px; /* 이미지의 최대 너비 조정 */
    max-height: 123px; /* 이미지의 최대 높이 조정 */
  }

  .mobilechargingproductlist li img a {
    width: 100%;
    height: auto;
  }

  .mobilechargingproductlist li .cartextbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    font-size: 12px; /* 텍스트 크기 축소 */
    width: 50%; /* 텍스트 너비 설정 */
  }

  .cartextbox p {
    font-size: 17px; /* 텍스트 크기 설정 */
    color: black;
  }

  .cartextbox .abox {
    font-size: 12px; /* 텍스트 크기 설정 */
    color: #333;
    text-decoration: none;
  }

  .cybertruckabox {
    font-size: 12px;
    color: #333;
    text-decoration: none;
    justify-content: center; /* 좌측 정렬 */
  }

  /* 스크롤바 숨기기 */
  .mobilechargingproductlist::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .mobilechargingproductlist {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 304px; /* 최대 높이를 패딩 포함 360px로 설정 */
    gap: 16px; /* 항목 간 간격 */
    padding: 32px 0 24px; /* 상하좌우 여백 */
  }

  .mobilechargingproductlist li {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    height: 84px; /* li의 높이 조정 */
    padding: 0; /* 간격 없앰 */
  }

  .mobilechargingproductlist li #chargingimg {
    width: 50%; /* 이미지의 너비를 50%로 설정 */
    height: auto; /* 이미지 높이를 자동으로 조정 */
  }

  .mobilechargingproductlist li #chargingimg img {
    max-width: 160px; /* 이미지 최대 너비 설정 */
    max-height: 90px; /* 이미지 최대 높이 설정 */
  }

  .mobilechargingproductlist li .cartextbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    font-size: 12px; /* 텍스트 크기 축소 */
    width: 50%; /* 이미지 너비를 지정 */
    text-align: left; /* 텍스트 좌측 정렬 */
    align-items: flex-start; /* 텍스트 좌측 정렬을 위한 flex 속성 추가 */
  }
  .cartextbox p {
    font-size: 17px; /* 텍스트 크기 줄임 */
    color: black;
    text-align: left; /* 설명 텍스트 좌측 정렬 */
  }

  .cartextbox .abox {
    font-size: 12px; /* 차량 이름 및 버튼 크기 줄임 */
    color: #333;
    text-decoration: none;
    justify-content: flex-start !important;
    text-align: left; /* 링크 텍스트 좌측 정렬 */
  }

  .cybertruckabox {
    font-size: 12px; /* 차량 이름 및 버튼 크기 줄임 */
    color: #333;
    text-decoration: none;
    justify-content: flex-start !important;
  }

  .cartextbox a:hover {
    text-decoration: underline; /* 링크 호버시 밑줄 추가 */
  }

  /* 스크롤바 숨기기 */
  .mobilechargingproductlist::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
  }

  .mobilechargingproductlist li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobilechargingproductlist li a img {
    width: 100%; /* 이미지 사이즈 조정 */
    height: auto;
  }

  .mobilechargingproductlist .cartextbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .mobilechargingproductlist li a {
    margin-top: 8px;
    font-size: 14px;
    text-decoration: none;
    color: #333;
  }

  .mobilechargingproductlist li a:hover {
    text-decoration: underline;
  }

  .mobilechargingproductlist li a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }

  .mobilechargingproductlist li p a:hover {
    text-decoration: underline;
  }

  .mobilechargingproductlist > .info-box {
    list-style: none;
    padding-top: 16px;
    margin: 0;
  }

  .info-box > .info-list li {
    border-bottom: none;
    padding: 20px 0;
    margin-bottom: 10px;
    font-weight: 700;
    font: 17px "Inter", sans-serif;
    color: #333;
  }

  .info-box .info-list li a {
    text-decoration: none;
    color: #333;
  }

  .info-box .info-list li a:hover {
    text-decoration: underline;
  }

  /* 뒤로가기 버튼 추가 */
  .back-button {
    position: absolute;
    top: 16px;
    left: 16px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
}

/* 메인 전체 */

/* 화면 메인 */

.blurscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0); /* 사파리 브라우저 호환성 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, backdrop-filter 0.6s ease;
  -webkit-transition: opacity 0.6s ease, -webkit-backdrop-filter 0.6s ease; /* 사파리 브라우저 호환성 */
  z-index: 500;
}

.blurscreen.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

/* 비디오를 전체 가로 사이즈로 설정 */
.teslademo {
  height: 100vh; /* 뷰포트 전체 높이 */
  width: 100%;
  position: relative; /* 내부의 텍스트와 버튼을 배치할 때 유용 */
}

video {
  width: 100%;
  height: 100vh; /* 비디오의 높이를 뷰포트 전체 높이에 맞춤 */
  object-fit: cover;
}

/* 비디오 컨트롤러 제거 */
video::-webkit-media-controls {
  display: none !important;
}

video::media-controls {
  display: none !important;
}

.videotextbox {
  position: absolute;
  width: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  margin-top: 208.66px;
}

.videotitle {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff;
  font: bold 40px "Inter", sans-serif;
  font-weight: 500;
}

.videotextbox > p {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 4px;
  color: #ffffff;
  font: bold 14px "Inter", sans-serif;
  font-weight: 400;
}

.videobuttonbox {
  position: absolute;
  display: flex; /* flex를 사용하여 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 260px;
  height: 40px;
  font: 14px "Inter", sans-serif;
  z-index: 200;
  margin-bottom: 130px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.videodemobtn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid white; /* 흰색 테두리 */
  color: white; /* 흰색 글자색 */
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px; /* 둥근 모서리 */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.videodemobtn:hover {
  background-color: white; /* 호버 시 배경을 약간 반투명하게 */
  color: black; /* 호버 시 글자색 유지 */
}

main > .bg {
  position: relative;
}

main > .bg > picture {
  display: flex;
}

picture > img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.cybertrucklogo {
  position: absolute;
  width: 450px;
  height: 126.578px;
  left: 50%;
  transform: translateX(-50%);
}

.textbox {
  position: absolute;
  width: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  margin-top: 160px;
}

.bg_title {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff;
  height: 56px;
  font-size: 56px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.bg_subtitle {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 4px;
  font-size: 28px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.bg_subtitle > a {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: currentColor;
  transition: text-decoration-color 0.5s ease;
}

.bg_subtitle > a:hover {
  text-decoration-color: #ffffff;
}

.textbox > p {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 4px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

sup {
  font-size: 8px;
  font-weight: 600;
  text-align: center;
  height: 25.5px;
}

.buttonbox {
  position: absolute;
  display: flex;
  width: 544px;
  z-index: 200;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  height: 40px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

main button {
  cursor: pointer;
}

.buttonbox > button {
  width: 264px;
  height: 40px;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
}

.orderbtn {
  background-color: #3e6ae1;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.demobtn {
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.cybertruck > .buttonbox > .orderbtn {
  background-color: #111;
  border-top: 3px solid #8e8e8e;
  border-radius: 0;
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.cybertruck > .buttonbox > button > span {
  width: 216px;
  letter-spacing: 1.2px;
}

.cybertruck > .buttonbox > .demobtn {
  padding: 4px 24px;
  height: 44px;
  background-color: #111;
  border: 1px solid #a2a3a5;
  border-radius: 0;
  font-size: 12px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #8e8e8e;
}

/* 푸터 */
/* 푸터 전체 (1200이상) */

footer {
  background-color: #000; /* 검정색 배경 */
  color: rgba(208, 209, 210); /* 흰색 텍스트 */
  display: flex; /* Flexbox를 적용하여 하단에 있는 요소들을 가로로 배치 */
  flex-direction: column; /* 세로로 배치 */
  height: 144px;
  padding: 0 24px;
  text-align: center;
  font-family: "Inter", sans-serif; /* 폰트 설정 */
  font-size: 14px; /* 기본 텍스트 크기 */
}

.footer-content {
  width: 100%; /* 콘텐츠 너비 제한 */
  margin: 0 auto; /* 수평 중앙 정렬 */
}

.footer-links {
  display: flex;
  color: rgba(208, 209, 210);
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  flex-wrap: wrap; /* 링크가 화면에 맞춰 줄바꿈될 수 있도록 설정 */
  height: 70px; /* 필요한 경우 높이를 설정하여 중앙 정렬 적용 */
}

.footer-links a {
  font: 12px "Inter", sans-serif; /* 링크 텍스트 크기 */
  color: rgba(208, 209, 210);
  text-decoration: none; /* 밑줄 제거 */
  margin-right: 16px; /* 링크 사이 간격 */
}

.footer-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 60px;
  font: 10px "Inter", sans-serif; /* 텍스트 크기 */
  color: rgba(208, 209, 210);
  line-height: 2; /* 텍스트 줄 간격 */
  bottom: 0; /* 하단에 배치 */
  padding-bottom: 14px;
}

.footer-banner a {
  color: rgba(208, 209, 210);
  text-decoration: underline;
}
