@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    color: #333333;
    line-height: 1.5;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {font-size: 1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, body, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
    margin: 0;
    padding: 0;
}

li {list-style: none;}

header {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 56px;
    font-weight: 500;
}

/* 기본 헤더 */
.mainheader {
    position: absolute;
    display: flex;
    width: 100%;
    height: 56px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1000;
    transition: transform 0.2s, visibility 0.2s, opacity 0.2s ease-in-out;
    opacity: 1;
}

/* 로고 */
.logobox {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 28px;
    background-color: transparent;
}

.logobox a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0px;
}

.logobox a > img {
    width: 100px;
    height: 24px;
    filter: brightness(0) invert(1); /* 흰색으로 기본 설정 */
}

/* 메뉴 */
.menubox {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.menubox > li {
    display: flex;
    height: 100%;
    align-items: center;
}

.menubox > li > button {
    border: 1px solid transparent;
    background-color: transparent;
    height: 32px;
    width: 100%;
    padding: 4px 16px;
    font: bold 14px "Inter", sans-serif;
    font-weight: 500;
}

.menubox > li > button > span {
    color: white; /* 기본적으로 흰색 */
    border: none;
    text-decoration: none;
}

/* 서브메뉴 */
.submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;    
    top: 56px;
    left: 0;
    width: 100vw;
    padding: 0 28px 48px;
    background-color: white;
    transition: opacity 0.3s ease, height 0.3s ease;
    z-index: 15;
}

/* 서브메뉴 보일 때 */
.submenu.show {
    visibility: visible;
    opacity: 1;
    height: auto; /* 서브메뉴의 높이를 설정 */
}

/* 그리드 레이아웃 */
.listbox {
    border: 1px solid grey;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 64px 48px 16px; /* 상단 64px, 하단 16px, 좌우 48px 여백 적용 */
    width: 94%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto; /* 수평 중앙 정렬 */
}

/* productlist를 그리드 2번째 칸부터 8번째 칸까지 차지하도록 설정 */
.productlist {
    border: 1px solid black;
    grid-column: 2 / span 7;    
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열로 설정 */
    grid-template-rows: repeat(2, 1fr); /* 2줄로 설정 */
    gap: 10px;
}

/* productlist 내부 항목 스타일 */
.productlist li {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* info-box 스타일 */
.info-box {
    grid-column: 10 / span 3;
    padding: 16px;
    border: 1px solid red;
    background-color: white;
}

/* 세로선 스타일 */
.vertical-line {
    grid-column: 9 / span 1;
    border-left: 1px solid #e0e0e0;
    height: 100%;
    justify-self: center;
}

/* whitebox 관련 */
.whitebox {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: white;
    transition: top 0.3s ease-in-out, height 0.3s ease-in-out;
    z-index: 1;
    opacity: 0;
}

/* whitebox 내려올 때 */
.whitebox.open {
    top: 0;
    opacity: 1;
}

.logobox, .menubox, .utilbox, .utilmenu {
    z-index: 10;
}

/* 유틸메뉴 */
.utilmenu {
    position: absolute;
    right: 0;
    width: 70px;
    height: 32px;
    background-color: transparent;
    border: none;
}

.utilmenu > span {
    color: black;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

/* 유틸 박스 */
.utilbox {
    display: flex;
    height: 100%;
    justify-content: center;
}

.utilnav {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 32px;
    font-size: 0px;
}

.utilnav > li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.utilnav > li > a > img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1); /* 흰색 기본 설정 */
}

/* 미디어 쿼리: 가로 크기 1440px 미만에서 productlist를 3열 2줄로 변경 */
@media screen and (max-width: 1439px) {
    .productlist {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

/* 메인 전체 */

/* 화면 메인 */
main > .bg {
    position: relative;
}

main > .bg > picture {
    display: flex;
}

picture > img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.cybertrucklogo {
    position: absolute;
    width: 450px;
    height: 126.578px;
    left: 50%;
    transform: translateX(-50%);
}

.textbox {
    position: absolute;
    width: 100%;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    margin-top: 160px;
}

.bg_title {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    height: 56px;
    font-size: 56px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.bg_subtitle {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 4px;
    font-size: 28px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.bg_subtitle > a {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: currentColor;
    transition: text-decoration-color 0.5s ease;
}

.bg_subtitle > a:hover {
    text-decoration-color: #ffffff;
}

.textbox > p {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 4px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

sup {
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    height: 25.5px;
}

.buttonbox {
    position: absolute;
    display: flex;
    width: 544px;
    z-index: 200;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    height: 40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.buttonbox > button {
    width: 264px;
    height: 40px;
    border: 3px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
}

.orderbtn {
    background-color: #3e6ae1;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.demobtn {
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.cybertruck > .buttonbox > .orderbtn {
    background-color: #111;
    border-top: 3px solid #8e8e8e;
    border-radius: 0;
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.cybertruck > .buttonbox > button > span {
    width: 216px;
    letter-spacing: 1.2px;
}

.cybertruck > .buttonbox > .demobtn {
    padding: 4px 24px;
    height: 44px;
    background-color: #111;
    border: 1px solid #a2a3a5;
    border-radius: 0;
    font-size: 12px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #8e8e8e;
}
